.text-area {
    width: 100%;
    padding: 8px;
    box-shadow: 0 1px 16px rgb(0 0 0 / 6%);
    border: 0;
    border-bottom: 2px solid #a7abb2;
    background-color: #fff;
    &-label {
        width: 100%;
        margin: 0;
        font-family: "kanit-light", Arial, Helvetica, sans-serif;
        font-weight: 100;
        font-size: 14px;
        color: rgb(108, 107, 107);
    }

    &-err {
        width: 100%;
        margin: 0;
        color: red;
        font-size: 12px;
    }

    &-input-err {
        border-bottom: 2px solid red;
    }



    &:focus{
        border-bottom: 2px solid #6c6d6e;
        box-shadow: 0 1px 16px rgb(0 0 0 / 6%);
    }

    &-valid{
        border-bottom: 2px solid #51c2f9;  
    }


    &::placeholder{
        color: #d8dce3!important;
    }
}