.ad-form-container{
    display: flex;
    width: 100%;
    background-color: white;
    padding: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 25px;
    display: inline;
    box-shadow: 0 2px 4px rgba(0,0,0,.22);
    border-radius: 3px;
}

.form-input{
    width: 50%;
}
.header{
    font-family: "kanit-light", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 30px;

}
.actions{
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
}

.sp-left{
    padding-left: 5px;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.file-list{
    color: rgb(81,194,249);
    font-family: "kanit-light", Arial, Helvetica, sans-serif;
    font-weight: 16;

}

.file-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 30%;
    box-shadow: 0 2px 4px rgba(0,0,0,.22);
    padding: 5px;
    background: #fff;
    border-bottom: 2px solid rgb(81,194,249);

    &-close{
    position:absolute;
    right: 5px;
    top: 3px;
    cursor: pointer;
    }
    &:hover{
      opacity: 0.5;

    }

}

.stepper-text{
    font-family: "kanit-light", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 12px;  
}

.header-rwapper{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    align-items: baseline;
    color: #51c2f9;
}


