.panel {
    margin: 0;
    padding: 0;

    &-header {
        display: flex;
        width: 100%;
        position: relative;
        padding: 8px;
        padding-right: 15%;
        padding-left: 15%;
        border-bottom: 1px solid #e4e4e4;
        background-color: #fff;
       // box-shadow: 0 2px 4px rgba(0,0,0,.22);
       color:rgb(81,194,249); 

        &-icon {
            position: absolute;
            right: 20px;
            top: 15px;
            width: 30px;
            cursor: pointer;
            &:hover{
                opacity: 0.5;
                width: 35px;

            }
        }

        &-text{
            font-family: "kanit-medium", Arial, Helvetica, sans-serif;
            font-weight:100;
            font-size: 30px;
        }

    }

    &-body {
        padding: 25px;
        padding-right: 15%;
        padding-left: 15%;
        
    }
}